* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.page {
    width: 750px;
    margin: auto;
}

.input-wrapper {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
    
}

header {
    width: 319;
    margin-top: 74px;   
}

header h1 {
   margin-bottom: 13px;
    font-family: 'Staatliches';
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}

header p {
    font-family: 'Poppins';
    margin-bottom: 58px;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
body {
    background: #E5E5E5;
}

body::before {
    content: '';
    background: #535971;
    z-index: -2;
    position: absolute;
    width: 1440px;
    height: 436px;
    left: 0px;
    top: 0px;
}

form {
    min-height: 300px;
    margin-top: 58px;
 
    background: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    padding: 64px;
}

fieldset {
    border: none;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

fieldset legend {
    border-bottom: 1px solid #E6E6F0;

    font-family: 'Staatliches';
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    position: relative;

    padding-bottom: 16px;
    color:  #535971;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label .event-email {
    color: #4E4958;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

#event-name {
    margin-top: 8px;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    height: 56px;
    width: 300px;
}

#event-surname {
    
    margin-top: 8px;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    height: 56px;
    width: 300px;
}

#event-email {
    height: 56px;
    width: 622px;
    left: 409px;
     top: 606px;
    border-radius: 8px;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;

}
.col-2 {
    display: flex;
    justify-content: space-between;
}

#event-password{
    height: 56px;
    width: 622px;
    left: 409px;
    top: 710px;
    border-radius: 8px;

    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    margin-bottom: 30px;
}

#event-mentorname {
    height: 56px;
    width: 622px;
    left: nullpx;
    top: nullpx;
    border-radius: 8px;
    background: #FAFAFC;
    margin-bottom: 32px;

    border: 1px solid #E6E6F0;
}

#event-date {
    height: 56px;
    width: 300px;
    left: 409px;
    top: 1138px;
    border-radius: 8px;
    
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    margin-bottom: 16px;
    
}

#event-begin {
    height: 56px;
    width: 140px;
    left: 741px;
    top: 1138px;
    border-radius: 8px;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
}

#event-end {
    height: 56px;
    width: 140px;
    left: 891px;
    top: 1138px;
    border-radius: 8px;

    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    
}

.col-3 {
    display: flex;
    justify-content: space-between;
    
}
span {
    color: #C1BCCC;
}

p {
    font-family: 'Staatliches';
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    position: relative;
    margin-bottom: 11px;
margin-top: 11px;
    
    
    color:  #535971;
}

#event-date2 {
    height: 56px;
    width: 300px;
    left: 409px;
    top: 1138px;
    border-radius: 8px;
    
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
}

#event-begin2 {
    height: 56px;
    width: 140px;
    left: 741px;
    top: 1138px;
    border-radius: 8px;
    background: #FAFAFC;
    


border: 1px solid #E6E6F0;
}

#event-end2 {
    height: 56px;
    width: 140px;
    left: 891px;
    top: 1138px;
    border-radius: 8px;
    
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    
}

.col-4 {
    display: flex;
    justify-content: space-between;
 } 

 footer {
    width: 750px;
    height: 160px;
    left: 345px;
    top: 1404px;

    background: #535971;
    border-radius: 0px 0px 20px 20px;
    padding: 65px;
    padding-top: 50px;
 }

 .button {

    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;

    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding-top: ;
   
    width: 600px;
    height: 56px;
    background: #FF5374;
    border-radius: 20px;
    border-color:  #FF5374 ;
 }